.container {
  align-items: start;
  display: flex;
  flex-direction: column;
  height: 740px;
  margin: 0;
  padding: 0;
  width: 360px;
}


.header {
  background-color: rgba(65 25 127 1);
  background-image: url('../../images/Background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  margin: 0;
  width: 100%;
}

.logo {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 157.25px;
  justify-content: center;
  margin-left: 81px;
  margin-top: 59.17px;
  width: 198px;
}

.tomato {
  align-items: center;
  background-size: contain;
  display: flex;
  flex-shrink: 0;
  height: 279px;
  justify-content: center;
  width: 360px;
  z-index: 1;
}

.form {
  margin: 0 auto;
  margin-top: 100px;
}

.form input {
  border: 0.5px solid #41197f;
  border-radius: 5px;
  color: #41197f;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  height: 40px;
  line-height: normal;
  margin-bottom: 10px;
  padding-left: 20px;
  width: 276px;
}

.form input::placeholder {
  color: #41197f;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.h1 {
  color: #41197f;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 3.3px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.form button {
  background: #fcc436;
  border-radius: 5px;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.42px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
}
