.header {
  height: 55px;
  z-index: 0;
}

.title {
  color: #41197f;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2.1px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.profileIcon {
  align-items: center;
  background: white;
  display: block;
  height: 28.71px;
  margin: 16px auto;
  padding: 10px;
  position: relative;
  width: 28.71px;
  z-index: 1;
}

.email {
  color: #1a1b1c;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 12px;
  line-height: normal;
  margin-left: 44px;
  margin-top: 30px;
  text-align: center;
  width: 273px;
}

.divDone {
  margin-top: 60px;
  text-align: center;
}

.divImg {
  height: 20px;
  text-align: center;
  width: 20px;
}

.Donebuttons {
  align-items: center;
  background-color: transparent;
  border: none;
  color: #797d86;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.48px;
  line-height: normal;
  margin-top: 10px;
  padding: 10px 20px;
  text-transform: capitalize;
}

.divFavorite {
  margin-top: 20px;
  text-align: center;
}

.favoriteButtons {
  background-color: transparent;
  border: none;
  color: #797d86;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.48px;
  line-height: normal;
  margin-top: 20px;
  padding: 10px 20px;
  text-transform: capitalize;
}

.favoriteImg {
  height: 20px;
  margin-left: 5px;
  vertical-align: middle;
  width: 20px;
}

.divLogout {
  margin-top: 20px;
  text-align: center;
}

.logoutButtons {
  background-color: transparent;
  border: none;
  color: #797d86;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.48px;
  line-height: normal;
  margin-top: 20px;
  padding: 10px 20px;
  text-transform: capitalize;
}

.logoutImg {
  height: 20px;
  margin-left: 5px;
  vertical-align: middle;
  width: 20px;
}
