.container-recommended-drinks {
  align-items: center;
  display: flex;
  justify-content: center;
}

.drinks-recommended {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 324px;
}

.drinks-img {
  width: 163.33px;
}

.card-recommended-drinks {
  align-items: center;
  border: 1px solid #b1b1b1;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-left: 2px;
  margin-right: 2px;
  scroll-snap-align: start;
}

.container-details {
  background: white;
  height: 1438px;
  width: 360px;
}
