.container {
  display: flex;
  flex-direction: row;
}

.categoryButton {
  background-color: transparent;
  border: none;
  color: #797d86;
  font-family: Epilogue , sans-serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}
