.container-recommended-meals {
  align-items: center;
  display: flex;
  justify-content: center;
}

.meals-recommended {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 324px;
}

.meals-img {
  width: 163.33px;
}

.card-recommended-meals {
  align-items: center;
  border: 1px solid #b1b1b1;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-left: 2px;
  margin-right: 2px;
  scroll-snap-align: start;
}

.img-details2 {
  height: 170px;
  margin-block-start: -180px;
  margin-left: -40px;
  margin-right: 40px;
  padding: 30px;
  width: 370px;
  z-index: 1;
}
